---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p class="text-right">{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>

  <!-- <p>Written by: {frontmatter.author}</p> -->

  <div class="w-full aspect-[16/9] mb-4">
    <img
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      class="w-full h-full object-cover object-top rounded"
      loading="lazy"
    />
  </div>

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />

  <script>
    // Open all external links in a new tab
    if (typeof window !== "undefined") {
      window.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('a[href^="http"]').forEach(link => {
          if (!link.href.includes(window.location.hostname)) {
            link.setAttribute("target", "_blank");
            link.setAttribute("rel", "noopener noreferrer");
          }
        });
      });
    }
  </script>
</BaseLayout>
